In [1]:
import os 

os.getcwd()

'/home/nbuser/library'

In [13]:
import pandas as pd 
import ipywidgets as widgets
from IPython.display import display
from matplotlib import pyplot as plt 
from ipywidgets import interact, interactive, fixed, interact_manual
import numpy as np

%matplotlib inline 

data = pd.read_csv('midtermdata.csv')

country_names  = pd.read_csv('wikipedia-iso-country-codes.csv').loc[:, ['English short name lower case', 'Alpha-3 code']]
country_names.columns = ['Name', 'Code']
country_names = country_names.loc[country_names['Code'].isin(data.Code)]
data = data.merge(country_names, how = 'inner', on = 'Code')
data = data.iloc[:, 1:]

data.head(5)

,Code,Year,incidents,successes,Population,EducationPctGdp,FertilityRate,IncomePerCapita,InfantMortality,Homicidesper100k,Name
0,AFG,1970,0.0,0.0,11126123.0,NaN,7.45,150.567338,204.8,NaN,Afghanistan
1,AFG,1971,0.0,0.0,11417825.0,1.16036,7.45,153.663587,201.0,NaN,Afghanistan
2,AFG,1972,0.0,0.0,11721940.0,1.11718,7.45,130.847360,197.0,NaN,Afghanistan
3,AFG,1973,1.0,0.0,12027822.0,1.42788,7.45,138.271770,193.1,NaN,Afghanistan
4,AFG,1974,0.0,0.0,12321541.0,NaN,7.45,167.507869,188.8,NaN,Afghanistan

In [23]:
countries_to_pick = pd.Series(country_names.Code.values, index = country_names.Name.values).to_dict()
countries_to_pick_inverted = {v: k for k, v in countries_to_pick.items()}

def code_to_name(codes): 
    names = []
    for code in codes: 
        names.append(countries_to_pick_inverted[code])
    return names

In [24]:



country_w = widgets.SelectMultiple(
    options=countries_to_pick,
    value=['CAN', 'USA'],
    description='Country:',
    disabled=False,
)

@interact(country_codes = country_w)
def plot_infant_mort(country_codes): 
    print(country_codes)
    for country_code in country_codes: 
        ds = data.loc[data.Code == country_code]
        plt.plot(ds.Year, ds.InfantMortality)

    
    plt.ylabel('Infant Mortality Per 10,000 Births')
    plt.xlabel('Year')
    plt.title('Infant Mortality Comparison')
    plt.legend(code_to_name(country_codes))
    plt.show()

interactive(children=(SelectMultiple(description='Country:', index=(31, 185), options={'Afghanistan': 'AFG', '…

In [26]:
@interact(country_codes = country_w)
def plot_income(country_codes): 
    print(country_codes)
    for country_code in country_codes: 
        ds = data.loc[data.Code == country_code]
        plt.plot(ds.Year, ds.IncomePerCapita)

    
    plt.ylabel('US Dollar Income Per Capita, Adjusted for Inflation')
    plt.xlabel('Year')
    plt.title('Per Capita Income Comparison')
    plt.legend(code_to_name(country_codes))
    plt.show()

interactive(children=(SelectMultiple(description='Country:', index=(30, 31), options={'Afghanistan': 'AFG', 'A…