In [1]:
# !wget --load-cookies cookies.txt  https://www.kaggle.com/START-UMD/gtd/download
# !wget --load-cookies cookies.txt https://www.kaggle.com/burhanykiyakoglu/infant-mortality-fertility-income/download
# !wget --load-cookies cookies.txt https://www.kaggle.com/ibrahimmukherjee/gdp-world-bank-data/download
# !wget --load-cookies cookies.txt https://www.kaggle.com/juanumusic/countries-iso-codes/download
# !unzip download.4
# !ls
# !pip install google-cloud-bigquery==1.22.0
# !pip install  six==1.14.0

In [2]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd 
import json

In [3]:
# 128 * 256 * 5

In [4]:

pd.set_option('display.max_columns', 500)

In [5]:
#iso country codes 
codes = pd.read_csv('wikipedia-iso-country-codes.csv').loc[:, ['English short name lower case', 'Alpha-3 code']]
codes.columns = ['Name', 'Code']


codes.head(5)

codes[codes.Name.str.contains('United')]

                                     Name Code
216          Tanzania, United Republic of  TZA
230                  United Arab Emirates  ARE
231                        United Kingdom  GBR
232              United States Of America  USA
233  United States Minor Outlying Islands  UMI

In [6]:
#fix country names for terror 
terror_country_map = { 'South Korea' : 'Korea, Republic of (South Korea)'  
                     , 'United States' : 'United States Of America'
                     , 'Czechoslovakia' : 'Czech Republic'
                     , 'Brunei' : 'Brunei Darussalam'
                     , 'Soviet Union' : 'Russia'
                     }

In [7]:
#terror incidents per year by country 


terror = pd.read_csv('globalterrorismdb_0718dist.csv'
#                      , nrows = 10000
                     , encoding = "ISO-8859-1"
                    , usecols = ['iyear', 'country_txt', 'success'])

terror = terror.replace({'country_txt' : terror_country_map})
terror = terror.rename(columns = {'iyear' : 'Year'})
terror = terror.merge(codes, how = 'left', left_on = 'country_txt', right_on = 'Name')

#countries excluded 
terror.loc[terror.Code.isnull(), :].country_txt.unique()

terror = terror.loc[~terror.Code.isnull(), ['Code', 'Year', 'success']]

# terror.head(5)

terror = terror.groupby(['Code', 'Year']).agg(['count', 'sum'])
terror = terror.reset_index()
terror.columns = [''.join(col) for col in terror.columns]
terror = terror.rename(columns = {'successcount' : 'incidents', 'successsum' : 'successes'})

terror.head(5)

  Code  Year  incidents  successes
0  AFG  1973          1          0
1  AFG  1979          3          3
2  AFG  1987          1          1
3  AFG  1988         11         11
4  AFG  1989         10          6

In [8]:
#population by country by year
population = pd.read_csv('PopulationPerCountry.csv' , encoding = "ISO-8859-1", skiprows = 3)

population = pd.melt(population, ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'])
# 
population = population.loc[population.value >= 0.0, ['Country Code', 'variable', 'value']]
population.columns = ['Code', 'Year', 'Population']
# population['DataType'] = 'Population'
population.Year = pd.to_numeric(population.Year)
population.head(5)

  Code  Year  Population
0  ABW  1960     54211.0
1  AFG  1960   8996351.0
2  AGO  1960   5643182.0
3  ALB  1960   1608800.0
4  AND  1960     13411.0

In [9]:
#education by country by year 

#this one from kaggle is missing data 
education = pd.read_csv('public-education-expenditure-as-share-of-gdp.csv', 
                        usecols = ['Code', 'Year', 'Public Expenditure on Education (percent of GDP)']
                       )
education.columns = ['Code', 'Year', 'EducationPctGdp']
education['DataType'] = 'EducationPctGDP'


education.head(5)


#this one is better
credentials = service_account.Credentials.from_service_account_file('gckey.json')

client = bigquery.client.Client(project = 'tpu-44747', credentials = credentials)
datasetref = client.dataset('world_bank_intl_education', project = 'bigquery-public-data')

dataset = client.get_dataset(datasetref)
    
query = """
    SELECT *
    FROM `bigquery-public-data.world_bank_intl_education.international_education`

    where indicator_name = 'Government expenditure on education as % of GDP (%)'
    and year >= 1970 
    
"""
query_job = client.query(query)  # Make an API request.

education = client.query(query).to_dataframe()
education = education.loc[:, ['country_code', 'year', 'value']]
education.columns = ['Code', 'Year', 'EducationPctGdp']

education.head(5)

  Code  Year  EducationPctGdp
0  SSD  2016          1.81094
1  BRN  2016          4.42541
2  BGD  2016          1.92634
3  KIR  1970          4.79313
4  GUY  1970          4.32898

In [10]:
    
query = """
SELECT  * FROM `bigquery-public-data.world_bank_wdi.indicators_data` 
where indicator_name = 'Intentional homicides (per 100,000 people)'
"""
query_job = client.query(query) 
homicides = client.query(query).to_dataframe().loc[:, ['country_code', 'year', 'value']]
homicides.columns = ['Code', 'Year', 'Homicidesper100k']
homicides.head(5)

  Code  Year  Homicidesper100k
0  DEU  2017               1.0
1  HTI  2010               6.8
2  PRT  2003               1.4
3  JAM  2006              48.5
4  SAU  2001               1.1

In [11]:
#mortality, fertility, income by country by year

mort = pd.read_csv('MortalityFertilityIncome.csv', 
#                    nrows = 5, 
                   encoding = "ISO-8859-1", 
                   thousands='.', 
                   decimal=',')

mort = pd.melt(mort, ['Country Name', 'Country Code', 'Region'])


mort['Data Type'] = 'InfantMortality' 
mort.loc[mort.variable.str.contains('i'), 'Data Type'] = 'IncomePerCapita'
mort.loc[mort.variable.str.contains('f'), 'Data Type'] = 'FertilityRate'
mort.variable = mort.variable.str.slice(1)
mort = mort.rename(columns = {'variable' : 'Year', 'Country Code' : 'Code'})
mort = mort.loc[:, ['Code', 'Year' ,'value', 'Data Type']]
mort.value = pd.to_numeric(mort.value)
mort.Year = pd.to_numeric(mort.Year)
mort = pd.pivot_table(mort, index = ['Code', 'Year'], columns = 'Data Type').reset_index()
mort.columns = [''.join(col).replace('value', '') for col in mort.columns]

mort.loc[mort.Code == 'USA'].head(5)

     Code  Year  FertilityRate  IncomePerCapita  InfantMortality
9012  USA  1970          2.480      4591.218634             19.9
9013  USA  1971          2.266      4891.985558             19.1
9014  USA  1972          2.010      5305.320034             18.3
9015  USA  1973          1.879      5912.942042             17.5
9016  USA  1974          1.835      6152.478813             16.7

In [51]:

#construct the main data table by cartesian of years and codes 

years =  [i for i in range(1980,2011)]
country_codes = list(codes.Code)

index = pd.MultiIndex.from_product([country_codes, years], names = ['Code', 'Year'])
data = pd.DataFrame(index = index).reset_index()

data.head(5)

#add leaf data 

data = data.merge(terror, how = 'left', on = ['Code', 'Year'])
data = data.merge(population, how = 'left', on = ['Code', 'Year'])
data = data.merge(education, how = 'left', on = ['Code', 'Year'])
data = data.merge(mort, how = 'left', on = ['Code', 'Year'])
data = data.merge(homicides, how = 'left', on = ['Code', 'Year'])

data.head(5)

,Code,Year,incidents,successes,Population,EducationPctGdp,FertilityRate,IncomePerCapita,InfantMortality,Homicidesper100k
0,AFG,1980,NaN,NaN,13248370.0,1.83639,7.449,259.338014,163.3,NaN
1,AFG,1981,NaN,NaN,13053954.0,1.90443,7.449,252.110768,158.9,NaN
2,AFG,1982,NaN,NaN,12749645.0,1.73199,7.450,NaN,154.4,NaN
3,AFG,1983,NaN,NaN,12389269.0,NaN,7.452,NaN,149.8,NaN
4,AFG,1984,NaN,NaN,12047115.0,NaN,7.455,NaN,145.6,NaN

In [52]:
#data cleanup 

#years where we have terror incident data 
#assume nans mean no incidents/sucessess at all 
print('Incident Data spans %i to %i' % (min(data.loc[~data.incidents.isnull(), 'Year'].unique()), 
      max(data.loc[~data.incidents.isnull(), 'Year'].unique() )) )
data.loc[data.incidents.isnull(), ['incidents','successes']] = 0.0 


# data.loc[data.EducationPctGdp.isnull()] 
summed = data.loc[:, ['Code', 'EducationPctGdp']].groupby(['Code']).agg('sum')
noedu = summed.loc[summed.EducationPctGdp == 0].index.values
print("countries that don't report education spending as pct of gdp" , noedu)

#keep countries that report edu data 
data = data.loc[~data.Code.isin(noedu)]

#remove countries that have a lot of nan values 
nancheck = pd.melt(data, ['Code', 'Year'])
nancheck['Nan'] = nancheck.value.isnull()
nancheck = nancheck.groupby('Code').agg({'Nan' : ['sum', 'count']})
nancheck.columns = [''.join(col).replace('Nan', '') for col in nancheck.columns]
nancheck['pct']  = nancheck['sum'] / nancheck['count']
nancheck = nancheck.loc[nancheck['pct'] <= 0.20]

print(nancheck.sort_values(by = 'pct', ascending = True))


data.loc[data['Code'].isin(nancheck.index)]

Incident Data spans 1980 to 2010
countries that don't report education spending as pct of gdp ['AIA' 'ALA' 'ANT' 'ASM' 'ATA' 'ATF' 'BIH' 'BLM' 'BVT' 'CCK' 'COK' 'CXR'
 'CYM' 'ESH' 'FLK' 'FRO' 'GGY' 'GIB' 'GLP' 'GRL' 'GUF' 'GUM' 'HMD' 'IMN'
 'IOT' 'JEY' 'MAF' 'MNE' 'MNP' 'MSR' 'MTQ' 'MYT' 'NCL' 'NFK' 'NGA' 'NIU'
 'NRU' 'PCN' 'PNG' 'PRI' 'PRK' 'PYF' 'REU' 'SGS' 'SHN' 'SJM' 'SOM' 'SPM'
 'SUR' 'TCA' 'TKL' 'TKM' 'TWN' 'UMI' 'UZB' 'VAT' 'VIR' 'WLF']
       sum  count       pct
Code
NOR   10.0    248  0.040323
IRL   11.0    248  0.044355
FRA   11.0    248  0.044355
FIN   12.0    248  0.048387
AUT   12.0    248  0.048387
GBR   12.0    248  0.048387
CHE   12.0    248  0.048387
PRT   12.0    248  0.048387
ISR   13.0    248  0.052419
THA   13.0    248  0.052419
NLD   13.0    248  0.052419
KOR   14.0    248  0.056452
CYP   14.0    248  0.056452
CAN   15.0    248  0.060484
MYS   17.0    248  0.068548
NZL   17.0    248  0.068548
DNK   18.0    248  0.072581
ESP   18.0    248  0.072581
JPN   19.0    248  0.076613
JAM   19.0    248  0.076613
AUS   19.0    248  0.076613
ITA   19.0    248  0.076613
SWE   20.0    248  0.080645
MUS   20.0    248  0.080645
PAK   20.0    248  0.080645
PAN   22.0    248  0.088710
USA   22.0    248  0.088710
CRI   22.0    248  0.088710
MEX   22.0    248  0.088710
BGR   22.0    248  0.088710
...    ...    ...       ...
MDA   43.0    248  0.173387
BLZ   43.0    248  0.173387
UKR   43.0    248  0.173387
UGA   43.0    248  0.173387
TGO   44.0    248  0.177419
LVA   44.0    248  0.177419
KIR   45.0    248  0.181452
BLR   45.0    248  0.181452
SLE   45.0    248  0.181452
NER   45.0    248  0.181452
CPV   45.0    248  0.181452
AZE   46.0    248  0.185484
BHR   46.0    248  0.185484
KAZ   46.0    248  0.185484
SVN   46.0    248  0.185484
EST   46.0    248  0.185484
GEO   46.0    248  0.185484
RUS   46.0    248  0.185484
MNG   46.0    248  0.185484
BRN   46.0    248  0.185484
CAF   47.0    248  0.189516
ETH   47.0    248  0.189516
RWA   47.0    248  0.189516
MLI   47.0    248  0.189516
ARM   47.0    248  0.189516
MOZ   47.0    248  0.189516
PER   48.0    248  0.193548
MDV   48.0    248  0.193548
TJK   49.0    248  0.197581
BEN   49.0    248  0.197581

[129 rows x 3 columns]

,Code,Year,incidents,successes,Population,EducationPctGdp,FertilityRate,IncomePerCapita,InfantMortality,Homicidesper100k
62,ALB,1980,0.0,0.0,2671997.0,NaN,3.621,NaN,63.4,NaN
63,ALB,1981,1.0,1.0,2726056.0,NaN,3.530,NaN,59.1,NaN
64,ALB,1982,0.0,0.0,2784278.0,NaN,3.452,NaN,55.4,NaN
65,ALB,1983,0.0,0.0,2843960.0,NaN,3.383,NaN,51.7,NaN
66,ALB,1984,0.0,0.0,2904429.0,NaN,3.323,519.823819,48.4,NaN
67,ALB,1985,0.0,0.0,2964762.0,NaN,3.269,522.360545,45.3,NaN
68,ALB,1986,0.0,0.0,3022635.0,NaN,3.217,624.374607,42.5,NaN
69,ALB,1987,0.0,0.0,3083605.0,NaN,3.164,595.000780,40.1,NaN
70,ALB,1988,0.0,0.0,3142336.0,NaN,3.108,575.732744,38.0,NaN
71,ALB,1989,0.0,0.0,3227943.0,NaN,3.046,611.552843,36.2,NaN
72,ALB,1990,1.0,1.0,3286542.0,NaN,2.978,539.564833,34.7,NaN
73,ALB,1991,1.0,1.0,3266790.0,NaN,2.905,290.300641,33.3,NaN
74,ALB,1992,3.0,2.0,3247039.0,NaN,2.829,175.525987,32.1,4.0
75,ALB,1993,0.0,0.0,3227287.0,NaN,2.751,341.923968,31.0,6.0
76,ALB,1994,2.0,2.0,3207536.0,3.263300,2.672,571.352904,30.0,3.6
77,ALB,1995,0.0,0.0,3187784.0,3.760440,2.591,717.602550,28.9,8.3
78,ALB,1996,6.0,4.0,3168033.0,2.979770,2.507,1000.438491,27.7,8.8
79,ALB,1997,41.0,35.0,3148281.0,3.236130,2.422,705.162471,26.6,43.1
80,ALB,1998,7.0,7.0,3128530.0,3.328120,2.334,820.012269,25.4,21.3
81,ALB,1999,3.0,3.0,3108778.0,3.376690,2.246,1042.310201,24.2,17.1
82,ALB,2000,2.0,1.0,3089027.0,3.287190,2.157,1120.142330,23.1,4.2
83,ALB,2001,1.0,1.0,3060173.0,3.342710,2.068,1265.039627,22.0,7.0
84,ALB,2002,0.0,0.0,3051010.0,3.055220,1.981,1369.505677,20.9,6.9
85,ALB,2003,1.0,0.0,3039616.0,3.064700,1.897,1784.396470,20.0,5.3
86,ALB,2004,0.0,0.0,3026939.0,3.170170,1.821,2274.730598,19.0,4.2
87,ALB,2005,0.0,0.0,3011487.0,3.237910,1.754,2535.164806,18.2,5.0
88,ALB,2006,0.0,0.0,2992547.0,3.157940,1.703,2838.874385,17.4,3.1
89,ALB,2007,0.0,0.0,2970017.0,3.267560,1.668,3343.591615,16.7,3.5
90,ALB,2008,0.0,0.0,2947314.0,NaN,1.650,3961.319155,16.0,3.1
91,ALB,2009,1.0,1.0,2927519.0,NaN,1.646,3622.890286,15.4,2.9
...,...,...,...,...,...,...,...,...,...,...
7596,ZWE,1981,9.0,8.0,7431940.0,3.351540,6.967,1032.599103,64.1,NaN
7597,ZWE,1982,12.0,12.0,7721536.0,NaN,6.811,1052.071502,61.3,NaN
7598,ZWE,1983,6.0,6.0,8027565.0,4.145480,6.633,921.754818,58.3,NaN
7599,ZWE,1984,3.0,3.0,8342195.0,5.791500,6.435,729.438183,55.6,NaN
7600,ZWE,1985,1.0,1.0,8658857.0,7.419260,6.223,621.553214,53.2,NaN
7601,ZWE,1986,1.0,1.0,8976205.0,NaN,6.004,658.677350,51.4,NaN
7602,ZWE,1987,11.0,11.0,9293283.0,11.644760,5.784,686.486400,50.2,NaN
7603,ZWE,1988,1.0,1.0,9604302.0,12.337290,5.569,762.978076,49.6,NaN
7604,ZWE,1989,3.0,3.0,9902540.0,12.284230,5.365,790.576070,49.7,NaN
7605,ZWE,1990,6.0,5.0,10183113.0,12.454260,5.176,815.994139,50.3,5.8
7606,ZWE,1991,1.0,1.0,10443043.0,NaN,5.001,777.590395,51.3,NaN
7607,ZWE,1992,1.0,1.0,10682868.0,22.322210,4.840,588.213238,52.6,NaN
7608,ZWE,1993,0.0,0.0,10905756.0,NaN,4.691,563.835816,54.2,NaN
7609,ZWE,1994,1.0,1.0,11116948.0,44.333981,4.555,573.069203,55.8,NaN
7610,ZWE,1995,2.0,0.0,11320346.0,NaN,4.433,576.241893,57.5,NaN
7611,ZWE,1996,0.0,0.0,11518262.0,NaN,4.327,687.928853,58.8,NaN
7612,ZWE,1997,0.0,0.0,11709997.0,NaN,4.236,661.756891,59.8,NaN
7613,ZWE,1998,0.0,0.0,11893272.0,NaN,4.161,489.860380,60.3,NaN
7614,ZWE,1999,0.0,0.0,12064537.0,NaN,4.101,524.868349,60.4,NaN
7615,ZWE,2000,1.0,1.0,12222251.0,NaN,4.055,502.939120,60.6,NaN
7616,ZWE,2001,3.0,3.0,12366165.0,NaN,4.022,508.348463,60.7,12.4
7617,ZWE,2002,8.0,8.0,12500525.0,NaN,4.001,471.545043,61.0,13.0
7618,ZWE,2003,1.0,1.0,12633897.0,NaN,3.989,419.490756,61.2,10.8
7619,ZWE,2004,0.0,0.0,12777511.0,NaN,3.984,409.548746,61.8,10.6
7620,ZWE,2005,0.0,0.0,12940032.0,NaN,3.985,403.074356,62.3,10.4
7621,ZWE,2006,1.0,1.0,13124267.0,NaN,3.991,363.785137,62.8,8.2
7622,ZWE,2007,1.0,1.0,13329909.0,NaN,4.001,335.535655,62.8,NaN
7623,ZWE,2008,5.0,5.0,13558469.0,NaN,4.014,265.503240,62.0,NaN
7624,ZWE,2009,0.0,0.0,13810599.0,NaN,4.024,504.784213,60.6,NaN
7625,ZWE,2010,1.0,1.0,14086317.0,1.973330,4.028,567.971369,58.0,5.0

In [14]:
data.to_csv('midtermdata.csv')

# Datasets Included in Analysis 

Datasets were chosen to cohesively answer the four main questions listed below for a specific country and time period, with granularity in years. This section will explain how each dataset contributes to 1 or more questions. 
1. Is infant mortality improving, stable, or getting worse? 
2. Is income rising, stagnant, or falling?
3. Does one country or another seem more of less stable than ohers and why do you say this? 
4. What changes do you predict for these countries and why? 

bigquery-public-data.world_bank_intl_education.international_education
This dataset was chosen to help answer questions 3 and 4. Education spending may suggest stability and/or affect future outcomes. 

https://www.kaggle.com/juanumusic/countries-iso-codes/download
This dataset was chosen to help all questions by providing a standardized list of country codes to align all datasets. 

https://www.kaggle.com/burhanykiyakoglu/infant-mortality-fertility-income/download
This dataset directly answers 1 and 2. It can serve as a baseline for question 4.  

https://www.kaggle.com/ibrahimmukherjee/gdp-world-bank-data/download
This population dataset dataset helps adjust other datasets by population. Namely, it is used to adjust the terrorism dataset to show per capita incidents. This helps for question 3. 

https://www.kaggle.com/START-UMD/gtd/download
This terrorism dataset helps answer question 3. We can assume that fewer terrorist attacks are indicative of a more stable country. It may also impact question 4 as a predictor of future outcomes. 

bigquery-public-data.world_bank_wdi.indicators_data
This dataset was chose to get crime related data, specifically homicdes per 100,000 people. This will help answer question 3, where more homicides can be considered to be less stable.


# Steps to Prepare Datasets 
In general, all datasets were processed into a dataframe with the fields Country Code, Year, Metric 1, Metric 2, Metric N. This output will be easier to link together.  

bigquery-public-data.world_bank_intl_education.international_education
The data needed to be queried using the bigquery api. Column names needed to be changed. No additional transformations needed as data was already in proper tabular format. Data was converted to a pandas dataframe for compatability. 

https://www.kaggle.com/burhanykiyakoglu/infant-mortality-fertility-income/download
The data needed to be read into a pandas dataframe. The years attribute was stored in the columns, rather than the rows. This was fixed by using pd.melt, which turned the years columns into a single column, with 1 row per each year. The 3 metrics were set up as 3 columns. 

https://www.kaggle.com/ibrahimmukherjee/gdp-world-bank-data/download
this dataset was already in the desired format. After reading the csv into a pandas dataframe, columns were renamed. 

https://www.kaggle.com/START-UMD/gtd/download
This dataset required mapping of country names to country codes. Mapping was done using the ISO country codes with specific mappings for certain countries, such as 'Czechoslovakia' to 'Czech Republic'. Because each row represents a single incident, only incidents with a non null value for sucess (0 or 1) were included. The rows were aggregated by country and year to create a dataset that counted for each country and year the number of incidents and successful incidents. 

bigquery-public-data.world_bank_wdi.indicators_data
The data needed to be queried using the bigquery api. Column names needed to be changed. No additional transformations needed as data was already in proper tabular format. Data was converted to a pandas dataframe for compatability. 

Finally, for all datasets, we want to keep only countries that have a low percentage of nan values. After datasets are linked, only countries with at 20% nan values or less are kept. This gives us approximately 120 countries to analyze. We also restrict the time series to years between 1980 and 2010. 

# Steps to Link Datasets 
To simplify analysis, all datasets will use the primary keys of Country Code and Year. This means that no country and year combination can appear twice for the same metric. In order to ensure no gaps in the final dataset, a cartesian product of country codes and years (1970 to 2020) was used as the base dataset. All other datasets are joined to the base dataset via a left join on the country codes and years. The final output is a tabular dataset that does not require any additional joins. The main benefit is that gaps in the data are easy to identify, for some countries will have Nan values for certain years and actual values for other years. 

Additional metrics can be added from additional datasets, so long as the dataset is processed into the format Country Code, Year, and Metric.