In [6]:
# !wget --load-cookies cookies.txt  https://www.kaggle.com/START-UMD/gtd/download
# !wget --load-cookies cookies.txt https://www.kaggle.com/burhanykiyakoglu/infant-mortality-fertility-income/download
# !wget --load-cookies cookies.txt https://www.kaggle.com/ibrahimmukherjee/gdp-world-bank-data/download
# !wget --load-cookies cookies.txt https://www.kaggle.com/juanumusic/countries-iso-codes/download
# !unzip download.4
# !ls
# !pip install google-cloud-bigquery==1.23.0
# !pip install  six==1.13.0

In [7]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd 
import json

In [8]:
# 128 * 256 * 5

In [9]:

pd.set_option('display.max_columns', 500)

In [10]:
#iso country codes 
codes = pd.read_csv('wikipedia-iso-country-codes.csv').loc[:, ['English short name lower case', 'Alpha-3 code']]
codes.columns = ['Name', 'Code']


codes.head(5)

codes[codes.Name.str.contains('United')]

                                     Name Code
216          Tanzania, United Republic of  TZA
230                  United Arab Emirates  ARE
231                        United Kingdom  GBR
232              United States Of America  USA
233  United States Minor Outlying Islands  UMI

In [11]:
#fix country names for terror 
terror_country_map = { 'South Korea' : 'Korea, Republic of (South Korea)'  
                     , 'United States' : 'United States Of America'
                     , 'Czechoslovakia' : 'Czech Republic'
                     , 'Brunei' : 'Brunei Darussalam'
                     , 'Soviet Union' : 'Russia'
                     }

In [12]:
#terror incidents per year by country 


terror = pd.read_csv('globalterrorismdb_0718dist.csv'
#                      , nrows = 10000
                     , encoding = "ISO-8859-1"
                    , usecols = ['iyear', 'country_txt', 'success'])

terror = terror.replace({'country_txt' : terror_country_map})
terror = terror.rename(columns = {'iyear' : 'Year'})
terror = terror.merge(codes, how = 'left', left_on = 'country_txt', right_on = 'Name')

#countries excluded 
terror.loc[terror.Code.isnull(), :].country_txt.unique()

terror = terror.loc[~terror.Code.isnull(), ['Code', 'Year', 'success']]

# terror.head(5)

terror = terror.groupby(['Code', 'Year']).agg(['count', 'sum'])
terror = terror.reset_index()
terror.columns = [''.join(col) for col in terror.columns]
terror = terror.rename(columns = {'successcount' : 'incidents', 'successsum' : 'successes'})

terror.head(5)

  Code  Year  incidents  successes
0  AFG  1973          1          0
1  AFG  1979          3          3
2  AFG  1987          1          1
3  AFG  1988         11         11
4  AFG  1989         10          6

In [13]:
#population by country by year
population = pd.read_csv('PopulationPerCountry.csv' , encoding = "ISO-8859-1", skiprows = 3)

population = pd.melt(population, ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'])
# 
population = population.loc[population.value >= 0.0, ['Country Code', 'variable', 'value']]
population.columns = ['Code', 'Year', 'Population']
# population['DataType'] = 'Population'
population.Year = pd.to_numeric(population.Year)
population.head(5)

  Code  Year  Population
0  ABW  1960     54211.0
1  AFG  1960   8996351.0
2  AGO  1960   5643182.0
3  ALB  1960   1608800.0
4  AND  1960     13411.0

In [14]:
#education by country by year 

#this one from kaggle is missing data 
education = pd.read_csv('public-education-expenditure-as-share-of-gdp.csv', 
                        usecols = ['Code', 'Year', 'Public Expenditure on Education (percent of GDP)']
                       )
education.columns = ['Code', 'Year', 'EducationPctGdp']
education['DataType'] = 'EducationPctGDP'


education.head(5)


#this one is better
credentials = service_account.Credentials.from_service_account_file('gckey.json')

client = bigquery.client.Client(project = 'tpu-44747', credentials = credentials)
datasetref = client.dataset('world_bank_intl_education', project = 'bigquery-public-data')

dataset = client.get_dataset(datasetref)
    
query = """
    SELECT *
    FROM `bigquery-public-data.world_bank_intl_education.international_education`

    where indicator_name = 'Government expenditure on education as % of GDP (%)'
    and year >= 1970 
    
"""
query_job = client.query(query)  # Make an API request.

education = client.query(query).to_dataframe()
education = education.loc[:, ['country_code', 'year', 'value']]
education.columns = ['Code', 'Year', 'EducationPctGdp']

education.head(5)

  Code  Year  EducationPctGdp
0  BRN  2016          4.42541
1  RWA  2016          3.61734
2  SYC  1970          4.18848
3  TGO  1970          2.11380
4  FRA  1970          3.42152

In [15]:
#mortality, fertility, income by country by year

mort = pd.read_csv('MortalityFertilityIncome.csv', 
#                    nrows = 5, 
                   encoding = "ISO-8859-1", 
                   thousands='.', 
                   decimal=',')

mort = pd.melt(mort, ['Country Name', 'Country Code', 'Region'])


mort['Data Type'] = 'InfantMortality' 
mort.loc[mort.variable.str.contains('i'), 'Data Type'] = 'IncomePerCapita'
mort.loc[mort.variable.str.contains('f'), 'Data Type'] = 'FertilityRate'
mort.variable = mort.variable.str.slice(1)
mort = mort.rename(columns = {'variable' : 'Year', 'Country Code' : 'Code'})
mort = mort.loc[:, ['Code', 'Year' ,'value', 'Data Type']]
mort.value = pd.to_numeric(mort.value)
mort.Year = pd.to_numeric(mort.Year)
mort = pd.pivot_table(mort, index = ['Code', 'Year'], columns = 'Data Type').reset_index()
mort.columns = [''.join(col).replace('value', '') for col in mort.columns]

mort.loc[mort.Code == 'USA'].head(5)

     Code  Year  FertilityRate  IncomePerCapita  InfantMortality
9012  USA  1970          2.480      4591.218634             19.9
9013  USA  1971          2.266      4891.985558             19.1
9014  USA  1972          2.010      5305.320034             18.3
9015  USA  1973          1.879      5912.942042             17.5
9016  USA  1974          1.835      6152.478813             16.7

In [16]:

#construct the main data table by cartesian of years and codes 

years =  [i for i in range(1970,2020)]
country_codes = list(codes.Code)

index = pd.MultiIndex.from_product([country_codes, years], names = ['Code', 'Year'])
data = pd.DataFrame(index = index).reset_index()

data.head(5)

#add leaf data 

data = data.merge(terror, how = 'left', on = ['Code', 'Year'])
data = data.merge(population, how = 'left', on = ['Code', 'Year'])
data = data.merge(education, how = 'left', on = ['Code', 'Year'])
data = data.merge(mort, how = 'left', on = ['Code', 'Year'])


data.head(5)

,Code,Year,incidents,successes,Population,EducationPctGdp,FertilityRate,IncomePerCapita,InfantMortality
0,AFG,1970,NaN,NaN,11126123.0,NaN,7.45,150.567338,204.8
1,AFG,1971,NaN,NaN,11417825.0,1.16036,7.45,153.663587,201.0
2,AFG,1972,NaN,NaN,11721940.0,1.11718,7.45,130.847360,197.0
3,AFG,1973,1.0,0.0,12027822.0,1.42788,7.45,138.271770,193.1
4,AFG,1974,NaN,NaN,12321541.0,NaN,7.45,167.507869,188.8

In [17]:
#data cleanup 

#years where we have terror incident data 
#assume nans mean no incidents/sucessess at all 
print('Incident Data spans %i to %i' % (min(data.loc[~data.incidents.isnull(), 'Year'].unique()), 
      max(data.loc[~data.incidents.isnull(), 'Year'].unique() )) )
data.loc[data.incidents.isnull(), ['incidents','successes']] = 0.0 


# data.loc[data.EducationPctGdp.isnull()] 
summed = data.loc[:, ['Code', 'EducationPctGdp']].groupby(['Code']).agg('sum')
noedu = summed.loc[summed.EducationPctGdp == 0].index.values
print("countries that don't report education spending as pct of gdp" , noedu)

#keep countries that report edu data 
data = data.loc[~data.Code.isin(noedu)]
data

Incident Data spans 1970 to 2017
countries that don't report education spending as pct of gdp ['AIA' 'ALA' 'ANT' 'ASM' 'ATA' 'ATF' 'BIH' 'BLM' 'BVT' 'CCK' 'COK' 'CXR'
 'CYM' 'ESH' 'FLK' 'FRO' 'GGY' 'GIB' 'GLP' 'GRL' 'GUF' 'GUM' 'HMD' 'IMN'
 'IOT' 'JEY' 'MAF' 'MNE' 'MNP' 'MSR' 'MTQ' 'MYT' 'NCL' 'NFK' 'NIU' 'NRU'
 'PCN' 'PRK' 'PYF' 'REU' 'SGS' 'SHN' 'SJM' 'SPM' 'SUR' 'TKL' 'TWN' 'UMI'
 'UZB' 'VAT' 'VIR' 'WLF']

,Code,Year,incidents,successes,Population,EducationPctGdp,FertilityRate,IncomePerCapita,InfantMortality
0,AFG,1970,0.0,0.0,11126123.0,NaN,7.450,150.567338,204.8
1,AFG,1971,0.0,0.0,11417825.0,1.160360,7.450,153.663587,201.0
2,AFG,1972,0.0,0.0,11721940.0,1.117180,7.450,130.847360,197.0
3,AFG,1973,1.0,0.0,12027822.0,1.427880,7.450,138.271770,193.1
4,AFG,1974,0.0,0.0,12321541.0,NaN,7.450,167.507869,188.8
5,AFG,1975,0.0,0.0,12590286.0,1.303320,7.450,178.635551,184.7
6,AFG,1976,0.0,0.0,12840299.0,NaN,7.450,189.113162,180.6
7,AFG,1977,0.0,0.0,13067538.0,NaN,7.449,214.744437,176.3
8,AFG,1978,0.0,0.0,13237734.0,NaN,7.449,236.915946,172.0
9,AFG,1979,3.0,3.0,13306695.0,1.733980,7.449,263.661470,167.7
10,AFG,1980,0.0,0.0,13248370.0,1.836390,7.449,259.338014,163.3
11,AFG,1981,0.0,0.0,13053954.0,1.904430,7.449,252.110768,158.9
12,AFG,1982,0.0,0.0,12749645.0,1.731990,7.450,NaN,154.4
13,AFG,1983,0.0,0.0,12389269.0,NaN,7.452,NaN,149.8
14,AFG,1984,0.0,0.0,12047115.0,NaN,7.455,NaN,145.6
15,AFG,1985,0.0,0.0,11783050.0,NaN,7.458,NaN,141.3
16,AFG,1986,0.0,0.0,11601041.0,NaN,7.460,NaN,137.0
17,AFG,1987,1.0,1.0,11502761.0,NaN,7.461,NaN,132.7
18,AFG,1988,11.0,11.0,11540888.0,NaN,7.461,NaN,128.5
19,AFG,1989,10.0,6.0,11777609.0,NaN,7.461,NaN,124.3
20,AFG,1990,2.0,2.0,12249114.0,NaN,7.466,NaN,120.2
21,AFG,1991,30.0,30.0,12993657.0,NaN,7.479,NaN,116.4
22,AFG,1992,36.0,29.0,13981231.0,NaN,7.502,NaN,112.9
23,AFG,1993,0.0,0.0,15095099.0,NaN,7.535,NaN,109.5
24,AFG,1994,9.0,9.0,16172719.0,NaN,7.572,NaN,106.3
25,AFG,1995,6.0,5.0,17099541.0,NaN,7.606,NaN,103.3
26,AFG,1996,4.0,3.0,17822884.0,NaN,7.630,NaN,100.5
27,AFG,1997,1.0,1.0,18381605.0,NaN,7.635,NaN,97.9
28,AFG,1998,1.0,1.0,18863999.0,NaN,7.616,NaN,95.4
29,AFG,1999,9.0,9.0,19403676.0,NaN,7.569,NaN,93.1
...,...,...,...,...,...,...,...,...,...
12270,ZWE,1990,6.0,5.0,10183113.0,12.454260,5.176,815.994139,50.3
12271,ZWE,1991,1.0,1.0,10443043.0,NaN,5.001,777.590395,51.3
12272,ZWE,1992,1.0,1.0,10682868.0,22.322210,4.840,588.213238,52.6
12273,ZWE,1993,0.0,0.0,10905756.0,NaN,4.691,563.835816,54.2
12274,ZWE,1994,1.0,1.0,11116948.0,44.333981,4.555,573.069203,55.8
12275,ZWE,1995,2.0,0.0,11320346.0,NaN,4.433,576.241893,57.5
12276,ZWE,1996,0.0,0.0,11518262.0,NaN,4.327,687.928853,58.8
12277,ZWE,1997,0.0,0.0,11709997.0,NaN,4.236,661.756891,59.8
12278,ZWE,1998,0.0,0.0,11893272.0,NaN,4.161,489.860380,60.3
12279,ZWE,1999,0.0,0.0,12064537.0,NaN,4.101,524.868349,60.4
12280,ZWE,2000,1.0,1.0,12222251.0,NaN,4.055,502.939120,60.6
12281,ZWE,2001,3.0,3.0,12366165.0,NaN,4.022,508.348463,60.7
12282,ZWE,2002,8.0,8.0,12500525.0,NaN,4.001,471.545043,61.0
12283,ZWE,2003,1.0,1.0,12633897.0,NaN,3.989,419.490756,61.2
12284,ZWE,2004,0.0,0.0,12777511.0,NaN,3.984,409.548746,61.8
12285,ZWE,2005,0.0,0.0,12940032.0,NaN,3.985,403.074356,62.3
12286,ZWE,2006,1.0,1.0,13124267.0,NaN,3.991,363.785137,62.8
12287,ZWE,2007,1.0,1.0,13329909.0,NaN,4.001,335.535655,62.8
12288,ZWE,2008,5.0,5.0,13558469.0,NaN,4.014,265.503240,62.0
12289,ZWE,2009,0.0,0.0,13810599.0,NaN,4.024,504.784213,60.6
12290,ZWE,2010,1.0,1.0,14086317.0,1.973330,4.028,567.971369,58.0
12291,ZWE,2011,1.0,1.0,14386649.0,NaN,4.019,613.371174,55.0
12292,ZWE,2012,0.0,0.0,14710826.0,8.383220,3.996,661.253176,50.8
12293,ZWE,2013,3.0,3.0,15054506.0,8.485360,3.957,762.775145,47.8
12294,ZWE,2014,1.0,1.0,15411675.0,8.429330,3.903,776.224710,44.4
12295,ZWE,2015,0.0,0.0,15777451.0,NaN,3.836,755.784964,42.0
12296,ZWE,2016,0.0,0.0,16150362.0,NaN,3.760,750.484165,40.0
12297,ZWE,2017,3.0,3.0,NaN,NaN,NaN,NaN,NaN
12298,ZWE,2018,0.0,0.0,NaN,NaN,NaN,NaN,NaN
12299,ZWE,2019,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [18]:
data.to_csv('midtermdata.csv')

Datasets Included in Analysis 

Datasets were chosen to cohesively answer the four main questions listed below for a specific country and time period, with granularity in years. This section will explain how each dataset contributes to 1 or more questions. 
1. Is infant mortality improving, stable, or getting worse? 
2. Is income rising, stagnant, or falling?
3. Does one country or another seem more of less stable than ohers and why do you say this? 
4. What changes do you predict for these countries and why? 

bigquery-public-data.world_bank_intl_education.international_education
This dataset was chosen to help answer questions 3 and 4. Education spending may suggest stability and/or affect future outcomes. 

https://www.kaggle.com/juanumusic/countries-iso-codes/download
This dataset was chosen to help all questions by providing a standardized list of country codes to align all datasets. 

https://www.kaggle.com/burhanykiyakoglu/infant-mortality-fertility-income/download
This dataset directly answers 1 and 2. It can serve as a baseline for question 4.  

Population Dataset
This dataset helps adjust other datasets by population. Namely, it is used to adjust the terrorism dataset to show per capita incidents. This helps for question 3. 

Terrorism Dataset
This dataset helps answer question 3. We can assume that fewer terrorist attacks are indicative of a more stable country. It may also impact question 4 as a predictor of future outcomes. 

Steps to Prepare Datasets 
In general, all datasets were processed into a dataframe with the fields Country Code, Year, Metric 1, Metric 2, Metric N. This output will be easier to link together. 

bigquery-public-data.world_bank_intl_education.international_education
The data needed to be queried using the bigquery api. Column names needed to be changed. No additional transformations needed as data was already in proper tabular format. Data was converted to a pandas dataframe for compatability. 

https://www.kaggle.com/burhanykiyakoglu/infant-mortality-fertility-income/download
The data needed to be read into a pandas dataframe. The years attribute was stored in the columns, rather than the rows. This was fixed by using pd.melt, which turned the years columns into a single column, with 1 row per each year. The 3 metrics were set up as 3 columns. 

Population Dataset
this dataset was already in the desired format. After reading the csv into a pandas dataframe, columns were renamed. 

Terrorism Dataset
This dataset required mapping of country names to country codes. Mapping was done using the ISO country codes with specific mappings for certain countries, such as 'Czechoslovakia' to 'Czech Republic'. Because each row represents a single incident, only incidents with a non null value for sucess (0 or 1) were included. The rows were aggregated by country and year to create a dataset that counted for each country and year the number of incidents and successful incidents. 

Steps to Link Datasets 
To simplify analysis, all datasets will use the primary keys of Country Code and Year. This means that no country and year combination can appear twice for the same metric. In order to ensure no gaps in the final dataset, a cartesian product of country codes and years (1970 to 2020) was used as the base dataset. All other datasets are joined to the base dataset via a left join on the country codes and years. The final output is a tabular dataset that does not require any additional joins. The main benefit is that gaps in the data are easy to identify, for some countries will have Nan values for certain years and actual values for other years. 

Additional metrics can be added from additional datasets, so long as the dataset is processed into the format Country Code, Year, and Metric.